**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=27b1a0a996ac943b319ec368b12f1899_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0e55e487cceb1eb6aa39fadbed3713a1-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1d2e84e944db16ca2f69cd016974c07d-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=01e8238d292d92668567235163f40940-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3f1e440b82aaa69948ddf71ab51f3001-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5d4c87f0eb6c279c98d36e5b13fe997a-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5de87e9c279facf8a79cf5dfbccf7409-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7d6b5d5843cdc23d678deed153875f3e-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7fcef3532dc5b29a4f331de18c7e3ae6-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8b9e9c7c1ef8a1602e7381e25e0d3d73-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9d1fc26d7f3ed5b542ceaa77bad87aa3-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=09f173a784629fefb3821ebdc40ec426-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=048fd6ce03c88f6f295ed2c17cc12b0a-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=51d6e5c793d018ccf8eee6b64410934f-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=61dc2e48581a5990fbe2d3300c564479-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=71db69b0ee0dff7814ad452f1a5c8a79-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=72e6de5e0f1f888d80368d2a5b3f0e2e-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=73b2991810b5df3d55a7b59058b2e5f6-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=202b1032cf11a66679b1601345a79faf-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=265ea55d00543552d41ca94955979c7c-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=317c1f1e9d238ef83f57ae6956118e1a-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=500cbafcbf6200c3164807651e1f9390-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=557fa510ae86fe3b29b9500ac11f9003-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=599a0db4d41c2d012a9540bcfe582606-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=764c48b21be1d494fd3b07397fed6391-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=05726f810a77abc21538bd6577bee112-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7338ba3eace2675ef276463d8bf605c4-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=07397b70e6e64532d7d9acaa5e2f93a8-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7873e6d8bccd612c539f02fb0a064ae3-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=59074d38724dc12cad602d19d270d02e-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=256477a4097e46a76ea615dc2f002639-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=316302c1673c90623682f33019a331f9-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2816577b034d14448e882392a7c0d2b2-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7034070addac8d87ff991f3f27553f06-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=73133154fbd034f9b669b2dc919d5330-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a93ee3789060ca5ca1957b10795ac763-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a28645d896b97c366c1f6efc56bd672f-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b2a426a919849baa52bcd2763cc95a0a-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b9946fe5f5ae815e4bee6a3c308f6375-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c0ac63f81c8330210da99f7cb6cfd268-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d0b2dc35ebd4d62a767905ffd3c4ac36-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d8aff991e42145a7f877e51900a8af46-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d3461a3aa10b61731836ce06b83dba6f-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=db98f5b9e0d6fe4deeb60afe686c44f0-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e2e5dbf5861bb9ba0c2f9bd3116f5cb8-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ea1689c48d4f7461c4605d8af5025a4d-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=edec3909b6495472aee3ffe5ee3b91dd-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ef09a9d9b31253d12cefffee2a919dfc-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f2aa0c3040134fe05132afefa1fe4973-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f4baafa976a172f203a0180921026b62-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f5c636b8b2a113bc8e763beb0565cba7-json
/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=d560ea4e79f5f4d3286a5f108a9a155c-json
